p{
    font-family: Alegreya Sans SC, Georgia, 'Times New Roman', Times, serif;
}
a{
    font-family: Itim, 'Courier New',  monospace;
}
span{
    font-family: Itim, 'Courier New',  monospace;
}
h5{
    font-family: Itim, 'Courier New',  monospace;
}